<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head id="header-id" th:fragment="headFragment">
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/favicon.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/favicon.png}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/hours.css}"/>
    <title>168 Hours &mdash; re-examine your time allocation</title>
</head>

</html>