<!DOCTYPE html>
<html lang="en">
<head id="head-id">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
</head>
<body>
<div id="menu-id">Menu</div>
<div align="center">

    <h1 class="py-2">Something went wrong</h1>

    <div class="card border border-dark rounded m-3 w-50 text-dark bg-light">
        <h5 id="error-code" class="card-header alert-warning">Code</h5>
        <div class="card-body alert-warning py-0">
            <p id="error-message" class="lead text-center mt-2">Error message goes here!</p>
        </div>
        <p id="error-advice" class="card-footer alert-warning font-italic text-center mb-0">
            Advice can go here
        </p>
    </div>

    <h6><a id="home-anchor">Home</a></h6>
    <footer id="footer-id">
        <p>Created</p>
    </footer>
</div>
<div id="bootstrap-js"></div>
</body>
</html>