<!DOCTYPE html>
<html lang="en">
<head id="head-id">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
</head>
<body>
<div id="menu-id">Menu</div>
<div align="center">

    <h1 class="py-2">About</h1>

    <div class="card border border-dark rounded m-3 w-50 text-dark bg-light">
        <h5 class="card-header">168 Hours</h5>
        <div class="card-body py-0">
            <p class="lead text-justify mt-2">
                This service can help you with balancing your time spending.
                Just prepare your hierarchy of activities in
                <a href="#" id="categories-anchor">categories section</a> and
                you are good to go.
            </p>
            <p class="lead text-justify mb-3">
                <a href="#" id="timetable-anchor">Add days</a>,
                breaking them into time segments, and set category
                for each segment depending on what you spend it on.
            </p>
            <p class="lead text-justify mb-3">
                This will allow
                you to look at your overall spending per category per week (or any
                other time period) and adjust you activity priorities.
            </p>
        </div>
        <p class="card-footer text-center mb-0">
            Based on <a href="#" id="book-link" class="font-weight-light">&#8220;168 Hours: You Have More Time Than You Think&#8221;</a>
            by <span class="font-weight-light">Laura Vanderkam</span>
        </p>
    </div>

    <h6><a id="home-anchor">Home</a></h6>
    <footer id="footer-id">
        <p>Created</p>
    </footer>
</div>
<div id="bootstrap-js"></div>
</body>
</html>